.toast{

    position:fixed;

    top:20px;
    right:20px;

    padding:18px 22px;

    border-radius:14px;

    color:white;

    z-index:9999;

    animation:slide 0.4s ease;
}

.success{

    background:#16a34a;
}

.error{

    background:#dc2626;
}

@keyframes slide{

    from{

        opacity:0;
        transform:translateX(100px);
    }

    to{

        opacity:1;
        transform:translateX(0);
    }
}